:root {
    --main-clr: rgba(247, 222, 76);
    --main-clr-alt: rgb(223, 199, 66);
    --main-transition: all 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: var(--main-transition);
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* start header */

.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 767px) {
    .header .logo {
        width: 100%;
        text-align: center;
    }
}

.header .nav {
    display: flex;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .nav {
        margin: auto
    }
}

.header .nav>li {
    transition: var(--main-transition);
    height: 100%;
    cursor: pointer;
}

.header .nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
    color: black;
    padding: 0 30px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
    font-weight: 600;
}

@media (max-width: 767px) {
    .header .nav>li>a {
        padding: 10px;
        font: size 13px;
        height: 40px;
    }
}

.header .nav>li>a:before {
    content: " ";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background-color: var(--main-clr);
    transition: var(--main-transition);
}

.header .nav>li>a:hover {
    color: var(--main-clr);
    background-color: #fcfcfc;
}

.header .nav>li>a:hover:before {
    left: 0;
}

.header .mega-menu {
    position: absolute;
    width: 70%;
    right: 0;
    padding: 20px;
    background-color: #fff;
    border-bottom: var(--main-clr) solid 5px;
    display: flex;
    gap: 40px;
    top: 100%;
    transition: top var(--main-transition), opacity var(--main-transition);
    -webkit-transition: top var(--main-transition), opacity var(--main-transition);
    -moz-transition: top var(--main-transition), opacity var(--main-transition);
    -ms-transition: top var(--main-transition), opacity var(--main-transition);
    -o-transition: top var(--main-transition), opacity var(--main-transition);
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform-origin: top center;
}

.btn {
    width: 30px;
    height: 30px;
    background-color: tomato;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: none;
    outline: none;
    color: white;
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        width: 100%;
        height: 500px;
    }
}

.header .mega-menu .links {
    min-width: 240px;
    flex: 1;
}

.header .mega-menu .image img {
    max-width: 100%
}

@media (max-width: 991px) {
    .header .mega-menu .image {
        display: none
    }
}

.header .mega-menu .links li {
    position: relative;
    transition: var(--main-transition);
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: solid 2px #e9e6e6;
}

.header .mega-menu .links li a {
    color: rgb(68, 68, 68);
    padding: 15px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px
}

.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background-color: #f4db1c7b;
    z-index: -1;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.header .mega-menu .links li:hover:before {
    width: 100%;
}


/* end header */


/* start landing */

.landing {
    position: relative;
}

.landing:before {
    content: "";
    top: -40px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-6deg);
    -webkit-transform: skewY(-6deg);
    -moz-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    -o-transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

.landing .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -1px;
}

.landing .text p {
    font-size: 24px;
    line-height: 1.7;
    margin: 5px 0;
    color: #666;
    max-width: 500px;
}

.landing .container .image img {
    width: 600px;
    max-width: 100%;
    animation: up-down 5s linear infinite alternate;
    -webkit-animation: up-down 5s linear infinite alternate;
}

@media (max-width: 991px) {
    .landing .container .image {
        display: none
    }
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 10px auto;
    }
}

@media (max-width: 767px) {
    .landing .text p {
        margin: 10px auto;
        font-size: 18px;
    }
    .landing .text h1 {
        font-size: 28px
    }
}

.landing .container .go-down {
    color: var(--main-clr);
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .container .go-down i {
    animation: bounce .23s ease infinite alternate;
    -webkit-animation: bounce .23s ease infinite alternate;
}


/* animation */

@keyframes up-down {
    0%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }
}

@keyframes bounce {
    from {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}


/* end language */